#indexBody {
  background: url(../img/RemnantBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  height: 130vh;
  margin: 0;
  overflow-y: auto;
}

.shadow-body {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.501);
}

.index-header {
  display: flex;
  flex: auto;
  width: 100%;
  height: 20vh;
  margin: 0;
  padding: 0;
}

#indexLogo {
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  margin: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
}


#indexTitle {
  height: auto;
  width: auto;
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 5px white;
  font-family: 'Play', sans-serif;
  flex-grow: 3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.central-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: yellow;
  font-size: 2rem;
}

.display-message {
  background: rgba(0, 0, 0, 0.157);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.736);
  padding: 50px;
}