@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/*    font-family: 'Play', sans-serif;    text jeux vidéos   */ 

#registerPageBody {
  background: url(../img/RemnantBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  height: 1200px;
  margin: 0;
}


.registerContainer {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
}


#indexHeader {
  display: flex;
  flex: auto;
  width: 100%;
  height: 20vh;
  margin: 0;
  padding: 0;
}


#indexLogo {
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  margin: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
  aspect-ratio: 1/1;
}


#indexTitle {
  position: relative;
  height: 15vh;
  width: 80%;
  background-color: rgba(228, 228, 228, 0.39);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0 0 5px white;
  margin-left: 5%;
  font-family: 'Play', sans-serif;
  overflow: hidden; text-overflow: ellipsis;
}


.homeNavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3333339d;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(253, 253, 0);
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  transition: 300ms;
}
li a:hover {
  text-shadow: 1px 1px 2px lightyellow;
  transition: 100ms ease;
}




/* -------Header-------- */

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  background: rgba(241, 240, 240, 0.527);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 15px rgba(61, 61, 61, 0.445);
  border-radius: 5px;
  font-size: 20pt;
}


.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  align-items: center;
}


.form-row > label {
  padding: .5em 1em .5em 0;
  font-family: 'Play', sans-serif;
  color: rgb(253, 253, 0);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.781);
}


.form-row > input {
  flex: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  outline: none;
  border: none;
  height: 30px;
  margin-top: 5px;
  font-size: 15pt;
  background: rgba(255, 255, 255, 0.411);
  font-family: 'Play', sans-serif;
}


.form-row > input,
.form-row > button {
  padding: .5em;
  border-radius: 5px;
}
.form-row > button {
 background: rgba(0, 0, 0, 0.664);
 color: white;
 border: 0;
 font-size: 20px;
 font-family: 'Play', sans-serif;
 box-shadow: 0 0 3px rgb(236, 236, 18);
 color: rgb(253, 253, 0);
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
 border-radius: 2px;
}

#submit-button {
  width: 20%;
  background: transparent;
  color: rgb(253, 253, 0);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.829);
}
#submit-button:hover {
box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.922);
color: rgba(112, 255, 3, 0.704);
}

#show-password {
  box-shadow: 0 0 0 black;
  background: transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.543);
  border:none; 
  border-radius: 5px;
  margin-top: 7px;
}
#show-password:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.543);
}

.login-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.334);
  border-radius: 5px;
  flex-grow: 1;
  font-size: 2rem;
  font-family: 'Play', sans-serif;
  color: rgb(253, 253, 0);
}

.login-data-inside-div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.334);
  border-radius: 5px;
  padding: 1rem;
}