
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/*    font-family: 'Play', sans-serif;    text jeux vidéos   */


#indexBody {
  background: url(img/RemnantBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  height: 130vh;
  margin: 0;
  overflow-y: auto;
}


.index-header {
  display: flex;
  flex: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}


#indexLogo {
  position: relative;
  width: 10%;
  height: 20vh;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  margin: 10px;
}


#indexTitle {
  position: relative;
  height: 15vh;
  width: 80%;
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0 0 5px white;
  margin-left: 5%;
  font-family: 'Play', sans-serif;
}


.homeNavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(253, 253, 0);
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  transition: 300ms;
}
li a:hover {
  text-shadow: 1px 1px 2px lightyellow;
  transition: 100ms ease;
}



/* -------Header-------- */

.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.presentationBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  background: transparent;
  margin-top: 0.8%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0,10);;
  transition: 200ms ease;
  overflow-y: auto;
  border-radius: 5px;
}


.presentationHeader {
  margin: 1%;
  font-family: 'Play', sans-serif;
  color: rgb(253, 253, 0);
  font-weight: 400;
}


.presentationText {
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  font-family: 'Play', sans-serif;
  margin-left: 1%;
  color: rgb(253, 253, 0);
}

.headerText {
  width: 80%;
  display: flex;
  justify-content: left;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  font-family: 'Play', sans-serif;
  color: rgb(253, 253, 0);
  margin-left: 10px;
  margin-bottom: 5px;
}


.lastNewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.presentationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33%;
}

.gamesInDevContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33%;
  color: rgb(255, 255, 42);
  font-family: 'Play', sans-serif;
}


.lastNewsList {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0,10);
  transition: 200ms ease;
  overflow-y: auto;
  border-radius: 5px;
}


.gamesInDevList {
  width: 80%;
  height: 90%;
  background: transparent;
  margin-top: 0.8%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0,10);;
  transition: 200ms ease;
  overflow-y: scroll;
  border-radius: 5px;
  color: rgb(255, 255, 42);
}


.presentationBox:hover, .lastNewsList:hover, .gamesInDevList:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0,10);
  transition: 200ms ease;
}

.toast {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  height: 250px;
  color: rgba(0, 0, 0, 0.664);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.536);
  font-size: 20pt;
  font-family: 'Play', sans-serif;
  backdrop-filter: blur(10px);
  margin-top: 15px;
  margin-bottom: 5px;
}

.toast-contents {
  display: flex;
  flex-direction: row;
  flex:auto;
  padding: 5px;
}

.toast-content {
  width: 70%;
  text-align: justify;
  height: 100%;
  font-size: 0.7em;
  color: rgba(253, 253, 0, 0.598);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.69);
  padding-left: 10px;
  text-align: center;
}

.toast-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.screen-shot {
  max-width: 80%;
  box-shadow: 0 0 15px black;
  border-radius: 7px;
  margin-bottom: 20px
}

.toast-header {
  display: flex;
  flex-direction: row;
  color: rgba(253, 253, 0, 0.598);
  width: 100%;
  height: 20%;
  font-size: 1.4em;
  margin-bottom: 15px;
}

.toast-header-title {
  text-align: start;
  flex-grow: 2;
  height: 100%;
  text-align: center;
  color: rgba(253, 253, 0, 0.598);
}

.toast-header-date {
  display: flex;
  height: 100%;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: right;
  color: rgba(253, 253, 0, 0.598);
  padding-right: 10px;
}

.videoToast-dashTable {
  border-collapse: collapse;
  font-size: 1rem;  
  width: 100%; 
  height: 100%;
  box-shadow: 2px 2px 20px rgb(0, 0, 0); 
  margin: 10px;
  font-size: 1.5em;
  font-family: 'Play', sans-serif;
  
 }

 .videoToast-dashTable table{
  border-collapse: separate;
  border-spacing: 0;
 }
 .videoToast-dashTable thead tr {
   background-color: #92929289;
   color: #ffffff;
   text-align: left;
   border-radius: 5px;
 }

 .videoToast-dashTable th,
 .videoToast-dashTable td {
   padding: 12px 15px;
   color: rgba(253, 253, 0, 0.598);
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.498);
   border-radius: 5px;
}

.videoToast-dashTable tbody tr {
 border-bottom: 1px solid #c3c3c3;
 border-radius: 5px;
}

.videoToast-dashTable tbody tr:nth-of-type(even) {
 background-color: #ffffff;
}


.styled-table tbody tr.active-row {
 font-weight: bold;
 color: #cccccc;
}

.videoToast-dashTable-content:hover {
 box-shadow: 3px 3px 5px rgba(38, 38, 38, 0.885);
}

.lds-dual-ring {
display: inline-block;
width: 80px;
height: 80px;
}
.lds-dual-ring:after {
content: " ";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid #bab706;
border-color: #bab706 transparent #bab706 transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}