@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/*    font-family: 'Play', sans-serif;    text jeux vidéos   */ 

#userProfileBody {
  background: url(img/crysisBlur.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  margin: 0;
}


.registerContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}


#indexHeader {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}


#indexLogo {
  position: relative;
  width: 10%;
  height: 20vh;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  margin: 10px;
  
}


#indexTitle {
  position: relative;
  height: 15vh;
  width: 80%;
  background-color: rgba(228, 228, 228, 0.39);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0 0 5px white;
  margin-left: 5%;
  font-family: 'Play', sans-serif;
}


.homeNavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3333339d;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(253, 253, 0);
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  transition: 300ms;
}
li a:hover {
  text-shadow: 1px 1px 2px lightyellow;
  transition: 100ms ease;
}

/*----FIN DU HEADER----  */

.svgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}
.svgContainer > svg {
max-width: 8%;
max-height: 8%;
}

.formUserProfile {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.652);
  backdrop-filter: blur(8px);
}

.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.verticalEmptyContainer {
width: 30%;
height: 100%;
}

.avatarInput {
  margin: 10px;
}

.svgFile {
  margin: 10px;
  color: rgba(245, 245, 245, 0.596);
}

/*----FORMULAIRE-----*/


.wrapper {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  background: rgba(241, 240, 240, 0.527);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 15px rgba(61, 61, 61, 0.445);
  border-radius: 5px;
  font-size: 20pt;
}


.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}


.form-row > label {
  padding: .5em 1em .5em 0;
  font-family: 'Play', sans-serif;
  color: rgb(253, 253, 0);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.781);
}


.form-row > input {
  flex: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  outline: none;
  border: none;
  height: 30px;
  margin-top: 5px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.411);
  font-family: 'Play', sans-serif;
}


.form-row > input,
.form-row > button {
  padding: .5em;
}
.form-row > button {
 background: rgba(0, 0, 0, 0.664);
 color: white;
 border: 0;
 font-size: 20px;
 font-family: 'Play', sans-serif;
 box-shadow: 0 0 3px rgb(236, 236, 18);
 color: rgb(253, 253, 0);
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
 border-radius: 2px;
}

.login-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.334);
  border-radius: 5px;
  flex-grow: 1;
  font-size: 2rem;
  font-family: 'Play', sans-serif;
  color: rgb(253, 253, 0);
}

.login-data-inside-div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.334);
  border-radius: 5px;
  padding: 1rem;
}

/*
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg> etoile vide


<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>étoile pleine
*/